:root[data-color-scheme="light"] {
  --theme-gnb-l: 100%;
  --theme-gnb-text-l: 10%;
  --theme-lnb-l: 100%;
  --theme-lnb-text-l: 24%;
  --theme-page-l: 100%;
  --color-gnb-bg: hsl(var(--theme-h), var(--theme-s), 100%);
  --color-link: hsl(var(--theme-h), 70%, 45%);
  --color-link-hover: hsl(var(--theme-h), 70%, 35%);
  --color-link-visited: hsl(270, 60%, 45%);
}
